body {
  background-color: whitesmoke;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title {
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input__english-input {
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.output {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.output__morse-output {
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.grow-wrap {
  display: grid;
}

.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
  height: 15vh;
}

.grow-wrap > textarea,
.grow-wrap::after {
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;
  grid-area: 1/1/2/2;
}

.btn {
  display: flex;
  justify-content: space-around;
}
.btn__icon {
  font: inherit;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
  width: 50vw;
  margin: 20px;
  box-shadow: 5px 5px 5px grey;
  font-size: large;
}
.btn__icon:hover {
  box-shadow: 10px 5px 15px grey;
  background-color: rgb(110, 141, 97);
  border: rgb(110, 141, 97);
  transition: 0.2s;
}
